{% extends 'base.html' %}

{% block sheri %}


<div style="text-align:left;">
  <span style="font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000; "><br/></span>
  <div style="vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none; " id="container_7a1f4a7c">
    <div style="margin: 10px 200px 10px 200px;display: block; " id="container_7a1f4a7c_padding" >
      <div style="text-align:left;">
        <div style="vertical-align: top; position:relative; display: inline-block; width:100%; min-height:67px; background-color:#35E5AB; " id="container_49364a9">
          <div style="margin: 15px 10px 10px 10px;display: block; " id="container_49364a9_padding" >
            <div style="text-align:center;">
              <span style="font-size:20pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; text-shadow: 2px 2px 6px #615963; ">تغير كلمة المرور </span>
              </div>
            </div>
          </div>
        </div>
      <div style="text-align:center;">
        <form  style="vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#FFFFFF; " action=""
enctype="application/x-www-form-urlencoded"
method="POST" id="form_1fd9e86b">
          <div style="margin: 10px; display: block; " id="form_1fd9e86b_padding" >
            <div style="text-align:left;">

<form method="post" action="{% url 'resetpassword' key%}">
{% csrf_token %}
  <div class="form-group">
    <label for="exampleInputEmail1" style="color:#20c997">كلمة المرور الجديدة</label>
    {{form.password1}}
    <small id="emailHelp" class="form-text text-muted">.لا تشارك كلمة المرور ابدا</small>
  </div>
  <div style="height:15px;"></div>
  <div class="form-group">
    <label for="exampleInputPassword1" style="color:#20c997">تأكيد كلمة المرور</label>
    {{form.password2}}
  </div>
<div style="height:15px;"></div>
  <button type="submit" class="btn" style="color:#FFFFFF; background-color:#20c997;">تغير</button>
</form>

             </div>
            </div>
          </form>
        </div>
      <div style="clear:both"></div>
      </div>
    </div>
  </div>


{% endblock %}
