#first_text {
    color:#FFFFFF ; 

    text-shadow:#333333 3px 3px 0px, 7px 5px 5px rgb(0, 0, 0);
    color: #FFFFFF;
    }
#secound_text {
    color:#FFFFFF ; 

    text-shadow:#333333 1px 1px 0px, 1px 2px 3px rgb(0, 0, 0);
    color: #FFFFFF;
    }    
.calcWidth {
    width: 50%;
}
@media only screen and (max-width: 980px) {
    th {font-size: 25px;}
    td{font-size: 25px;}
    nav {font-size: 35px;}
    nav img {width: 100px;}
    nav .dropdown-item{
        font-size: 30px
    }
    footer {
        font-size: 30px;
    }
    .calclator{
        font-size: 25px;
        height: 50%;
    }
    .start-card {
        background-color: indigo;
        width: 10%;
    }
    .calclator .calcResult{
        font-size: 35px;
    }
    .calcWidth{
        width: 70%;
    }
    
    }