<div style="vertical-align: top; position:relative; display: inline-block; width:100%; min-height:88px; background:none; " id="container_d09b3d8">
  <div style="margin: 10px; display: block; " id="container_d09b3d8_padding" >
    </div>
  </div>



<footer class="text-center text-white " style="background-color: #20C997;">

  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: 20C997;">
    
© {% now "Y" %} Aleumla. All rights reserved.
  </div>
  <!-- Copyright -->
</footer>