{% load static %}

<section class="py-5 text-center " style="background: #fff url({% static 'img/dolars.jpg' %}) center center/cover no-repeat; height:300px">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
      
        <h1 id="first_text" class="font-italic" style="margin:20px; height:50px;">موقع العملة</h1>
        <p class="lead "  id="secound_text" style=" font-size:28px;">يمكنك معرفة سعر جميع العملات مقابل العملة السورية بسهولة وبدقة ويدعم جميع المحافظات وايضا اسعار الذهب</p>
        <p>
    <img class="class" >
    </img>
        </p>
      </div>
    </div>
</section>
